@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, select, img {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important
}

a:active {
  text-decoration: none;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

ul, li {
  list-style-type: none;
}

img {
  border: 0;
}

input:focus {
  outline: none;
}

/* header */

.header {
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  height: 60px;
}

.header .logo {
  float: left;
  margin-top: 15px;
}

.header_btn {
  float: right;
  width: 64px;
  height: 32px;
  margin-left: 10px;
  text-align: center;
  line-height: 32px;
  color: #fff;
  margin-top: 14px;
  border-radius: 4px;
}

.header_login_btn {
  background: #585858;
}

.header_register_btn {
  background: #4374ff;
}

.title_box {
  background: url(../img/nav_bg.jpg) center top no-repeat;
  height: 111px;
}

.title_bg {
  width: 1000px;
  margin: 0 auto;
  line-height: 111px;
  color: #fff;
  font-size: 40px;
}

/* 登录样式 */

.login_panel {
  width: 350px;
  margin: 0 auto;
}

.login_title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin: 60px 0 50px;
}

.input_group {
  line-height: 66px;
  font-size: 18px;
  color: #515151;
  margin-bottom: 15px;
  border-bottom: 3px solid #e0dfe4;
  position: relative;
}

.input_group label {
  width: 80px;
  display: inline-block;
}

.login_input input, .input_group input {
  line-height: 40px;
  border: none;
  font-size: 18px;
  color: #515151;
  font-family: Microsoft YaHei;
  width: 224px;
}

.eye_btn {
  background: url(../img/eye_off.png);
  width: 22px;
  height: 11px;
  position: absolute;
  right: 0;
  top: 29px;
  cursor: pointer;
}

.eye_btn.on {
  background: url(../img/eye_on.png);
}

.login_check_box {}

input[type="checkbox"] {
  height: 14px;
  width: 14px;
  display: inline-block;
  vertical-align: -2px;
}

.login_check_box label {
  font-size: 15px;
  color: #515151;
}

.forget_pwd {
  float: right;
  font-size: 15px;
  color: #515151;
}

.submit {
  width: 100%;
  border: none;
  height: 54px;
  line-height: 54px;
  background: #1c67e7;
  color: #fff;
  font-size: 20px;
  margin: 45px 0 15px;
}

.login_bottom {}

.refind_pwd {
  font-size: 15px;
  color: #515151;
}

.register_link {
  float: right;
  font-size: 15px;
  color: #1b68ea;
}

/*项目申报-项目基本信息*/

.sequence {
  margin: 40px auto 30px;
  width: 1000px;
  overflow: hidden;
  height: 135px;
  position: relative;
  text-align: center;
}

.sequence_line {
  position: absolute;
  width: 100%;
  background: #64b7fb;
  height: 3px;
  top: 46px;
  z-index: 1;
}

.sequence_item {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin: 0 60px;
}

.sequence_item .snum {
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  color: #1c66e9;
  font-size: 44px;
  border: 3px solid #64b7f9;
  border-radius: 50px;
  font-weight: bold;
  background: #fff;
}

.sequence_item.on .snum {
  background: #1c67e7;
  color: #fff;
}

.sequence_item .stitle {
  color: #1b68ec;
  margin-top: 13px;
}

.sequence_info1 {
  width: 940px;
  margin: 0 auto 35px;
  padding: 15px 30px;
  background: #e4f2ff;
  line-height: 28px;
  border-radius: 5px;
}

.stitle1 {
  font-size: 16px;
  color: #1d68e7;
}

.sp1 {
  color: #1d68e7;
}

.sp_red {
  color: #de3d42;
}

.big_input {
  width: 1000px;
  margin: 0 auto;
}

.big_title {
  color: #2e2c2d;
  font-size: 18px;
  margin: 30px 0 15px;
}

.big_intro {
  font-size: 13px;
  padding-left: 5px;
  color: #9e9c9d;
}

.big_input_group {
  width: 595px;
  height: 48px;
  border: 1px solid #c7c7c7;
  position: relative;
  border-radius: 4px;
}

.big_input_group input {
  width: 575px;
  padding: 0 10px;
  border: none;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  color: #515151;
}

.attention {
  position: absolute;
  left: 622px;
  top: 13px;
  width: 180px;
  color: #de3d42;
  background: url(../img/warn.png) left center no-repeat;
  padding-left: 20px;
}

.care_part {
  width: 1000px;
  margin: 0 auto;
}

.click_box {
  margin-bottom: 20px;
}

.click_box input[type="button"] {
  height: 50px;
  width: 162px;
  border: none;
  background: #64b7fb;
  color: #fff;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  vertical-align: -3px;
  border-radius: 5px;
}

.other_input_box {
  display: inline-block;
  border-bottom: 1px solid #64b7f9;
  height: 50px;
  width: 190px;
  display: none;
}

.other_input {
  height: 50px;
  border: none;
  color: #515151;
  width: 100%;
  font-size: 14px;
}

.sp2 {
  overflow: hidden;
  margin-bottom: 10px;
}

.sp_title {
  float: left;
  font-size: 15px;
  font-weight: bold;
}

.sp_content {
  float: left;
  width: 859px;
}

.units {
  width: 1000px;
  margin: 0 auto;
}

.units_demo, .units_demo2 {
  margin-bottom: 16px;
}

.units_title1 {
  margin-right: 5px;
}

.units_demo select, .units_demo2 select {
  margin-right: 10px;
  border-radius: 3px;
  height: 24px;
  padding: 0 5px;
}

.units_demo input[type="button"], .units_demo2 input[type="button"] {
  height: 50px;
  width: 212px;
  border: none;
  background: #64b7fb;
  color: #fff;
  font-size: 14px;
  margin-right: 25px;
  cursor: pointer;
  border-radius: 5px;
}

.units_demo input[type="button"].on, .units_demo2 input[type="button"].on {
  background: #ccc;
}

.units_title1, .units_demo select, .units_demo2 select {
  display: none;
}

.fund {
  width: 1000px;
  margin: 0 auto;
}

.fund_input_box {
  width: 595px;
  height: 48px;
  border: 1px solid #c7c7c7;
  position: relative;
  border-radius: 4px;
  display: inline-block;
}

.fund_input_group input[type="button"] {
  height: 50px;
  width: 116px;
  border: none;
  background: #64b7fb;
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
  cursor: pointer;
  vertical-align: -3px;
  border-radius: 5px;
}

.fund_input_group input[type="button"].on {
  background: #ccc;
}

.fund_add {
  margin: 15px 0 20px;
  height: 50px;
  line-height: 50px;
}

.fund_first, .fund_add_cr {
  display: none;
}

.fund_title {}

.fund_add select {
  margin-right: 20px;
  border-radius: 3px;
  height: 24px;
  padding: 0 5px;
}

.fund_input_box input[type="text"] {
  width: 575px;
  padding: 0 10px;
  border: none;
  height: 46px;
  border-radius: 4px;
  font-size: 16px;
  color: #515151;
}

.fund_delete {
  position: absolute;
  right: -30px;
  top: 16px;
  width: 15px;
  height: 15px;
  background: url(../img/close.png);
  cursor: pointer;
}

.fund_add_cr {}

.fund_add_cr a {
  color: #6e9afd;
  cursor: pointer;
}

.project_pics {
  width: 1000px;
  margin: 0 auto;
}

.pp_desc {}

.red {
  color: #de3d42;
  font-weight: bold;
}

.project_pics_update {
  overflow: hidden;
  margin: 10px 0 50px;
}

.project_box {
  width: 1100px;
}

.pps_item {
  width: 180px;
  float: left;
  margin-right: 25px;
}

.pps_box {
  position: relative;
}

.pps_bg {
  height: 102px;
  background: url(../img/image_add.jpg);
}

.pps_box img {}

.pps_item textarea {
  width: 168px;
  border-radius: 4px;
  padding: 5px;
  font-family: Microsoft YaHei;
  color: #515151;
  resize: none;
  margin-top: 8px;
  height: 53px;
}

.pps_box input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  z-index: 10;
}

.submit2 {
  width: 350px;
  height: 55px;
  color: #fff;
  margin: 0 auto;
  display: block;
  background: #1c67e7;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 项目详细描述 */

.big_title_subtitle {
  font-size: 15px;
  margin-top: 5px;
}

.textarea_box {}

.textarea_box textarea {
  resize: none;
  width: 998px;
  height: 138px;
  border-radius: 4px;
  padding: 5px;
  font-family: Microsoft YaHei;
  color: #515151;
}

.detail_title {
  vertical-align: 21px;
}

.detail_input_group {
  width: 504px;
  height: 48px;
  border: 1px solid #c7c7c7;
  position: relative;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.detail_input_group input[type="text"] {
  width: 483px;
  padding: 0 10px;
  border: none;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  color: #515151;
}

.detail_textarea_group {}

.detail_textarea_group textarea {
  margin-left: 10px;
  resize: none;
  width: 494px;
  height: 138px;
  border-radius: 4px;
  padding: 5px;
  font-family: Microsoft YaHei;
  color: #515151;
}

.detail_intro {
  color: #9e9c9d;
}

.detail_submit_group {
  text-align: center;
}

.detail_submit_group a {
  color: #1968e7;
  margin-right: 35px;
  font-size: 16px;
}

.detail_submit_group input {
  width: 350px;
  height: 55px;
  color: #fff;
  margin: 50px auto 0;
  background: #1c67e7;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 项目资金支持 */

.fund_source {
  margin-top: 25px;
}

.fs_title {
  font-size: 16px;
  vertical-align: 21px;
}

.fs_input_group {
  width: 190px;
  height: 48px;
  border: 1px solid #c7c7c7;
  position: relative;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.fs_input_group input[type="text"] {
  width: 169px;
  padding: 0 10px;
  border: none;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  color: #515151;
}

.fs_input_big {
  width: 342px;
}

.fs_input_big input[type="text"] {
  width: 322px;
}

.fs_input_small {
  width: 166px;
}

.fs_input_small input[type="text"] {
  width: 166px;
  background: #fff;
}

.fund_count {
  width: 822px;
  margin: 0 auto;
}

.fund_delete2 {
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/close.png);
  cursor: pointer;
  margin-left: 19px;
  margin-top: -18px;
}

.fund_support_group {
  text-align: center;
}

.fund_support_group a {
  color: #1968e7;
  margin-right: 35px;
  font-size: 16px;
}

.fund_support_group input {
  width: 210px;
  height: 55px;
  color: #fff;
  margin: 50px auto;
  background: #1c67e7;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button_box {
  display: inline-block;
  width: 210px;
  position: relative;
  margin-right: 32px;
}

.submit_success {
  position: absolute;
  background: url(../img/sumit_ok_sm.jpg) left center no-repeat;
  padding-left: 20px;
  left: 65px;
  bottom: 18px;
}

/* 提交成功 */

.success_box {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.success_title {
  font-size: 38px;
  font-weight: bold;
  display: inline-block;
  background: url(../img/sumit_ok.jpg) left center no-repeat;
  padding-left: 75px;
  height: 57px;
  line-height: 57px;
}

.success_desc {}

.success_link {
  margin-left: 10px;
  color: #1b68ea;
}

.foot_box {
  background: #4374ff;
  padding: 60px 0;
  margin-top: 100px;
}

.foot {
  width: 1000px;
  margin: 0 auto;
  color: #fff;
  line-height: 26px;
}

.foot a {
  color: #fff;
}

/* 已提交项目 */

.hs_title {
  width: 1000px;
  margin: 40px auto 22px;
  font-size: 33px;
  font-weight: bold;
  position: relative;
}

.hs_item {
  width: 970px;
  margin: 0 auto 15px;
  overflow: hidden;
  padding: 15px;
  background: #e4f2ff;
  position: relative;
}

.hs_pic {
  float: left;
  width: 180px;
  height: 102px;
  position: relative;
  margin-right: 25px;
}

.hs_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/image_add.jpg);
}

.hs_pic img {
  width: 100%;
  height: 100%;
  position: relative;
}

.hs_txt {}

.hs_desc {}

.hs_head {
  font-size: 16px;
  color: #1d68e7;
  margin-top: 5px;
  height: 42px;
  overflow: hidden;
}

.hs_do {
  text-align: right;
  margin-top: 7px;
}

.hs_view {
  color: #000;
}

.hs_link {
  color: #000;
  margin: 0 20px;
}

.hs_change {
  width: 90px;
  height: 30px;
  display: inline-block;
  color: #fff;
  background: #1c67e7;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
}

.create_btn {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 9px;
  color: #1d68e7;
  width: 72px;
  height: 25px;
  line-height: 24px;
  border: 1px solid #1d68e7;
  background: url(../img/add.png) 5px 5px no-repeat;
  padding-left: 23px;
}

/* 注册 */

.login_btn2 {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 10px;
  color: #1d68e7;
  height: 25px;
  line-height: 24px;
  background: url(../img/arrow.jpg) right 7px no-repeat;
  padding-right: 18px;
  background-color: white;
}

.file_btn {
  position: relative;
  width: 212px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #64b7fb;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
  border-radius: 5px;
  vertical-align: top;
}

.file_btn input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  left: 0;
  top: 0;
}

.team_input_box {
  width: 220px;
  height: 48px;
  border: 1px solid #c7c7c7;
  position: relative;
  border-radius: 4px;
  display: none;
}

.team_input_box input[type="text"] {
  width: 199px;
  padding: 0 10px;
  border: none;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  color: #515151;
}

.rg_click_box input[type="button"] {
  width: 212px;
  font-size: 14px;
  margin-bottom: 16px;
  margin-right: 25px;
}

.rg_other_input_box {
  width: 212px;
}

.short_btn_box input[type="button"] {
  height: 50px;
  width: 116px;
  border: none;
  background: #64b7fb;
  color: #fff;
  font-size: 14px;
  margin-right: 25px;
  cursor: pointer;
  border-radius: 5px;
}

.short_btn_box input[type="button"].on, .double_btn_box input[type="button"].on {
  background: #ccc;
}

.double_btn_box {
  margin-top: 20px;
  float: left;
  width: 725px;
}

.double_btn_box input[type="button"] {
  height: 50px;
  width: 212px;
  border: none;
  background: #64b7fb;
  color: #fff;
  font-size: 14px;
  margin-right: 25px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 16px;
}

.addr_box {}

.addr_box select {
  margin-left: 10px;
  border-radius: 3px;
  height: 24px;
  padding: 0 5px;
  vertical-align: 17px;
}

/* 项目预览页 */

.view_desc {
  font-size: 16px;
  color: #1d68e7;
  padding-bottom: 12px;
  border-bottom: 1px solid #1d68e7;
}

.view_item {
  overflow: hidden;
  margin-bottom: 30px;
}

.view_box {
  overflow: hidden;
  margin-top: 40px;
  position: relative;
}

.view_para {
  margin-bottom: 10px;
  line-height: 24px;
}

.view_para a {
  color: #1d68e7;
}

.view_title {
  font-size: 18px;
  color: #1d68e7;
  margin-bottom: 16px;
}

.view_item table {
  text-align: center;
}

.view_item table tr:nth-child(odd) {
  background: #64b7fb;
  color: #fff;
  line-height: 40px;
}

.view_item table tr:nth-child(even) {
  color: #64b7fb;
}

.caogao {
  width: 67px;
  height: 68px;
  background: url(../img/caogao.png);
  position: absolute;
  z-index: 50;
  right: 0;
  top: 0;
}

.space {
  margin: 0 20px;
}

.scroll {
  position: relative;
  width: 380px;
  height: 250px;
  overflow: hidden;
}

.scroll .scroll_num {
  position: absolute;
  bottom: 45px;
  right: 15px;
}

.scroll .scroll_num span {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #64b7f9;
}

.scroll .scroll_num span.current {
  background: #64b7f9;
  width: 8px;
  height: 8px;
}

.scroll .box {
  float: left;
  width: 380px;
  overflow: hidden;
}

.scroll .box img {
  width: 380px;
  height: 215px;
}

.scroll .box h3 {
  font-weight: normal;
  font-size: 14px;
  height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 2px;
}

.scroll_cont {
  +position: relative;
  _position: relative;
}

.flash {
  width: 380px;
  position: absolute;
  right: 0;
  top: 0;
}

.pic_view_box {
  display: inline-block;
  width: 100px;
}

.pic_view_box img {
  width: 100%;
}
